<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>New Speed Login</title>
</head>
<body>
<!-- 로그인 폼 -->
<h2>로그인</h2>
<form action="/api/auth/login" method="POST">
    <label for="userid">id:</label>
    <input type="text" id="userid" name="userid" required>
    <br>
    <label for="password">비밀번호:</label>
    <input type="password" id="password" name="password" required>
    <br>
    <button type="submit">로그인</button>

</form>
<!-- 아이디 및 비밀번호 찾기 링크 -->
<div>
    <a href="/forgot-username">아이디 찾기</a>
    <br>
    <a href="/forgot-password">비밀번호 찾기</a>
</div>
</body>
</html>