<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>NewSpeed</title>
    <link rel="stylesheet" type="text/css" href="../css/mypage.css">
</head>
<body>
<header>
    <div class="container">
        <div class="title-search-container">
            <h1 class="title">NEW <br> SPEED</h1>
            <input type="text" placeholder="검색" class="search-input">
            <button class="search-button">검색</button>
        </div>
    </div>
</header>


<section class="section">
    <div class="info-section">
        <div class="basic-info">
            <h2>기본정보</h2>
            <p>이곳에 기본정보 내용이 들어갑니다.</p>
        </div>
        <div class="article-section">
            <h2>게시글</h2>
            <article class="article">
                <h3>게시글 1</h3>
                <p>게시글 1의 내용이 들어갑니다.</p>
            </article>
            <article class="article">
                <h3>게시글 2</h3>
                <p>게시글 2의 내용이 들어갑니다.</p>
            </article>
            <article class="article">
                <h3>게시글 3</h3>
                <p>게시글 3의 내용이 들어갑니다.</p>
            </article>
        </div>
    </div>
</section>
</body>
</html>
