<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <!-- 외부 CSS 파일 연결 -->
    <link rel="stylesheet" type="text/css" href="../css/index.css">
    <script src="../js/post.js"></script>
    <title>New Speed</title>
</head>

<body>
<div class="header">
    <h1 class="title">NEW <br> SPEED</h1>

    <div class="nav-links">
        <!-- 로그인 링크 -->
        <a href="/api/auth/login" class="nav-link">로그인</a>

        <!-- 회원가입 링크 -->
        <a href="/register" class="nav-link">회원가입</a>

        <!-- 글 작성 링크 -->
        <a href="/create-post" class="nav-link">글 작성</a>

        <!-- 프로필 이미지 링크 -->
        <a href="/profile" class="nav-link">
            <div class="profile-image">
                <img src="mypage.html" alt="프로필 이미지">
            </div>
        </a>
    </div>
</div>

<ul id="post-list">
    <li><a href="/post/1">게시글 1</a></li>
    <li><a href="/post/2">게시글 2</a></li>
    <li><a href="/post/3">게시글 3</a></li>
    <li><a href="/post/4">게시글 4</a></li>
    <li><a href="/post/5">게시글 5</a></li>
    <li><a href="/post/6">게시글 6</a></li>
    <li><a href="/post/7">게시글 7</a></li>
    <li><a href="/post/8">게시글 8</a></li>
</ul>
</body>
</html>