<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="../css/post.css">
    <title>New Speed Post</title>
</head>
<body>

<!-- 게시글 영역 -->
<div class="container">
    <h2>게시글 목록</h2>
    <form action="/post" method="POST">
        <div class="form-group">
            <input type="text" id="title" name="title" placeholder="제목" required class="input-field">
        </div>
        <div class="form-group">
            <textarea id="content" name="content" placeholder="내용" required class="textarea-field"></textarea>
        </div>
        <div class="form-group">
            <button type="submit" class="submit-button1">글 작성</button>
        </div>
    </form>
</div>

<!-- 댓글 영역 -->
<div class="container">
    <h2>댓글 목록</h2>
    <!-- 댓글 목록 -->
    <ul id="comment-list">
        <!-- 각 댓글 항목은 JavaScript로 동적으로 추가됩니다. -->
    </ul>

    <!-- 댓글 작성 폼 -->
    <form id="comment-form">
        <div class="form-group">
            <input type="text" id="comment-author" placeholder="작성자" class="input-field">
        </div>
        <div class="form-group">
            <textarea id="comment-content" placeholder="댓글 내용" class="textarea-field"></textarea>
        </div>
        <div class="form-group">
            <button type="submit" class="comment-button2">댓글 작성</button>
        </div>
    </form>
</div>

</body>
</html>
