<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="../css/signup.css">
    <script src="../js/signup.js"></script>
    <title>New Speed Signup</title>
</head>
<body>
<!-- 회원가입 폼 -->
<div class="container">
    <h2>789 New-Speed에 오신 것을 환영합니다!</h2>
    <form id="signup-form">
        <div class="form-group">
            <label for="username">아이디:</label>
            <input type="text" id="username" name="username" required>
        </div>
        <div class="form-group">
            <label for="password">비밀번호:</label>
            <input type="password" id="password" name="password" required>
        </div>
        <div class="form-group">
            <label for="email">이메일:</label>
            <input type="email" id="email" name="email" required>
        </div>
        <div class="form-group" id="admin-section" style="display: none;">
            <label for="admin-token">관리자 토큰:</label>
            <input type="text" id="admin-token" name="admin-token">
        </div>
        <div class="form-group">
            <input type="checkbox" id="admin-checkbox" onchange="toggleAdminSection()">
            <label for="admin-checkbox">관리자 체크</label>
        </div>
        <div class="form-group">
            <button type="submit">회원가입</button>
        </div>
    </form>
</div>

<script>
    function toggleAdminSection() {
        var adminSection = document.getElementById("admin-section");
        var adminCheckbox = document.getElementById("admin-checkbox");

        if (adminCheckbox.checked) {
            adminSection.style.display = "block";
        } else {
            adminSection.style.display = "none";
        }
    }
</script>
</body>
</html>
